.contactForm {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.contactForm ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
}

.brand span {
    color: white;
}

.contactWrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.contactWrapper>* {
    padding: 1em;
}

.company-info {
    background: rgba(0, 0, 0, 0.85);
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 1rem 0;
    color: #ffffff;
}

.contact {
    background: #c6d0d1;
}


/* FORM STYLES */


/* FORM STYLES */

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid black;
}

.contact form button {
    background: rgba(217, 84, 25, 0.85);
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
    background: #e67e22;
    color: white;
    outline: 0;
    transition: background-color 1s ease-out;
}

#email-text-size {
    font-size: 0.9em;
}


/* LARGE SCREENS */

@MEDIA(min-width: 1200px) {
    .contactWrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: center;
    }
    .contactWrapper>* {
        padding: 2em;
    }
    .company-info h3,
    .company-info ul,
    .brand {
        text-align: center;
    }
}

.logobox {
    width: 50%;
    margin: auto;
    max-width: 100px;
    margin-bottom: 5%;
}

.logobox img {
    width: 100%;
    height: auto;
}

.socialLinks {
    text-align: center;
    width: 100%;
}

.socialLinks li {
    display: inline;
    padding: 5px;
}

.socialLinks img {
    display: inline-block;
    padding: 15px;
    width: 50px;
    height: 50px;
}