.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(2, 23, 37, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-trigger {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    background-color: rgba(2, 23, 37, 0.95);
}

.nav-trigger .menu-icon {
    /* this span is the central line of the menu icon */
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 30px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}

.nav-trigger .menu-icon::before,
.nav-trigger .menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}

.nav-trigger .menu-icon::before {
    top: -5px;
}

.nav-trigger .menu-icon::after {
    top: 5px;
}

.nav-trigger .menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.nav-trigger .menu-icon.is-clicked::before,
.nav-trigger .menu-icon.is-clicked::after {
    background-color: white;
}

.nav-trigger .menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.nav-trigger .menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.nav {
    overflow: auto;
    background: rgba(2, 23, 37, 0.8);
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.nav li {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: .2em 0;
    text-transform: capitalize;
}

.nav a {
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    padding: .4em 1em;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

.nav a:hover {
    background: rgba(217, 84, 25, 0.85);
}

.nav.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media (min-width: 1025px) {
    .nav-header {
        display: none;
    }
    .nav-trigger {
        display: none;
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        -webkit-transform: translateY();
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    .nav li {
        display: inline;
        padding: 8px 15px;
        font-size: 22px;
        font-size: 1.375rem;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: .2em 0;
        text-transform: capitalize;
    }
    .nav a {
        color: #FFFFFF;
        display: inline-block;
        text-decoration: none;
        padding: .4em 1em;
        border-radius: 0.25em;
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        transition: background 0.2s;
    }
    .nav a:hover {
        background: rgba(217, 84, 25, 0.85);
    }
}