.container {
    max-width: 100%;
    margin: 0 auto;
}

.skillcards {
    display: flex;
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}

.skillcard {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: #363636;
    text-decoration: none;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .skillcard {
        max-width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .skillcard {
        max-width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .skillcard {
        max-width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .skillcard {
        max-width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .skillcard {
        max-width: 33%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .skillcard {
        max-width: 25%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.skillcard span {
    display: block;
}

.skillcard .skillcard-summary {
    padding: 5% 5% 3% 5%;
}

.skillcard .skillcard-title {
    font-size: 1.2em;
    padding: 5%;
    margin: 0;
    text-align: center;
}

.skillcard-image {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

.skillcard-image img {
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 200px;
    height: 200px;
}

.skillcard-image:before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
}

.skillcard-image-small {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
}

.skillcard-image-small img {
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 50px;
    height: 50px;
}

.skillcard-image-small:before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
}