/*#region Basic Styles*/
body {
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

/*#endregion*/

/*#region Spacing*/
.is-horizontal-center {
  justify-content: center;
}

/*#endregion*/

/*#region Banner*/


/*#endregion*/

/*#region Banner*/
.has-overlay-style-one {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  position: relative;
  background-image: url("../images/backgrounds/chicagoFour.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.has-banner-title {
  font-size: 6vh;
}

.banner-text span {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*#endregion*/

/*#region BlueImp Overrides*/
.blueimp-gallery>.prev,
.blueimp-gallery>.next,
.blueimp-gallery>.close,
.blueimp-gallery>.title,
.blueimp-gallery>.play-pause {
  display: block;
}

/*#endregion*/

/*#region Style Backgrounds*/

.has-style-black {
  background: rgba(0, 0, 0, 1);
}

.has-style-darkgrey {
  background: #333;
}

.has-gradient-one {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fc6767, #ec008c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fc6767, #ec008c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.has-gradient-one:before {
  border: 10px solid #fc6767;
}

.has-gradient-two {
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fc00ff, #00dbde);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fc00ff, #00dbde);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.has-gradient-two:before {
  border: 10px solid #fc00ff;
}

.has-gradient-three {
  background: #24C6DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #514A9D, #24C6DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.has-gradient-three:before {
  border: 10px solid #514A9D;
}

/*#endregion*/


/*#region ServiceCards*/
.is-service-card {
  box-sizing: border-box;
  padding: 2em;
  width: 100%;
  min-height: 500px;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  margin-right: 1em;
}

/*#endregion*/


/*#region Skills*/

.is-skill-card {
  position: relative;
  background: #e6e6e6;
  width: 100%;
  font-size: 0;
  border-radius: 0 0 8px 8px;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  background: #333;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2),
    0 0 1rem rgba(0, 0, 0, 0.2);

}

.is-skill-card .ribbon {
  position: absolute;
  left: -20px;
  top: 30px;
  width: 100%;
  height: 48px;

  color: #fff;
  line-height: 48px;

  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
}

.is-skill-card .ribbon:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;

}

.is-skill-card .ribbon:before {
  top: -20px;
  left: 0;
  border-top-color: transparent;
  border-left-color: transparent;
}

/*#endregion*/

/*#region Contact Form*/
.is-contact-btn {
  border: 0;
  height: 50px;
  width: 23%;
  position: relative;
  border: none;
  display: block;
  color: #fff;
  font-weight: bold;
  margin: 20px auto 0;
  min-width: 170px;
  float: none;
  border: none;
  background-size: 300% 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;

  height: 55px;
  text-align: center;
  border: none;

  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}

.is-contact-btn:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.is-contact-btn:focus {
  outline: none;
}

.is-contact-btn.color-1 {
  color: #ffffff;
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

/*#endregion*/

/*#region Social Buttons*/
.social-buttons {
  display: inline-block;

  padding: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 10px;
  /* Helper class to divide the icons */
}

.social-buttons .social-margin {
  margin-right: 15px;
}

.social-buttons a,
.social-buttons a:hover,
.social-buttons a:focus,
.social-buttons a:active {
  text-decoration: none;
}

.social-buttons .social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}

.social-buttons .social-icon:hover {
  transform: rotate(360deg) scale(1.3);
}

.social-buttons .social-icon.facebook {
  font-size: 22px;
  padding-top: 9px;
  border-color: #3b5998;
  background-color: #3b5998;
  color: #ffffff;
}

.social-buttons .social-icon.facebook:hover {
  background-color: #ffffff;
  color: #3b5998;
}

.social-buttons .social-icon.twitter {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 2px;
  border-color: #55acee;
  background-color: #55acee;
  color: #ffffff;
}

.social-buttons .social-icon.twitter:hover {
  background-color: #ffffff;
  color: #55acee;
}

.social-buttons .social-icon.linkedin {
  font-size: 24px;
  padding-top: 8px;
  padding-left: 1px;
  background-color: #0976b4;
  color: #ffffff;
  border-color: #0976b4;
}

.social-buttons .social-icon.linkedin:hover {
  background-color: #ffffff;
  color: #0976b4;
}

.social-buttons .social-icon.github {
  font-size: 22px;
  padding-top: 9px;
  background-color: #4183c4;
  color: #ffffff;
  border-color: #4183c4;
}

.social-buttons .social-icon.github:hover {
  background-color: #ffffff;
  color: black;
}

/*#endregion*/

/*#region Gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {

  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  height: 300px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*#endregion*/


.delete{
  color: black;
  background: black;
}
